.svg-draw path:first-child {
  stroke-dasharray: 5000; /* Longitud total del trazo */
  stroke-dashoffset: 5000; /* Oculta completamente el trazo */
  transition: stroke-dashoffset 0.5s ease-out;
}

.svg-draw path:first-child {
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  filter: blur(10px);
  filter: drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5));
  opacity: 0.5;
}
